return {
	enable = {
		c = true,
		ruby = false,
		javascript = true,
		vue = false,
		_42 = true,
	},
	user = {
		name = "your-username",
		email = "your-email@example.com",
	},
	theme = "tokyonight-night",
}
